---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// Fetch the books from the Astro collection
const books = await getCollection("books");

// Group books by year
function groupBooksByYear(books) {
  return books.reduce((groupedBooks, book) => {
    if (book.data.date_read) {
      const year = new Date(book.data.date_read).getFullYear();
      if (!groupedBooks[year]) {
        groupedBooks[year] = [];
      }
      groupedBooks[year].push(book.data);
      // Sort books within each year by most recent date
      groupedBooks[year].sort(
        (a, b) => new Date(b.date_read) - new Date(a.date_read)
      );
    }
    return groupedBooks;
  }, {});
}

const booksByYear = groupBooksByYear(books);

const pageTitle = "Bookshelf";
const pageSubtitle = "Books I've read, organized by year";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <section class="content mx-auto mt-4">
    {
      Object.keys(booksByYear)
        .sort((a, b) => b - a)
        .map((year) => (
          <div class="mt-8" key={year}>
            <h2 class="mb-4 font-serif text-2xl font-semibold sm:text-3xl">
              {year}
            </h2>
            <div class="grid grid-cols-2 justify-center gap-8 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
              {booksByYear[year].map((book) => (
                <div
                  class="group relative flex flex-col items-center text-center"
                  key={book.title}>
                  <a href={book.link} target="_blank">
                    <img
                      alt={book.cover_image.cover_image_alt}
                      class="mb-4 h-60 w-auto object-cover sm:h-48 lg:h-40"
                      src={book.cover_image.cover_image_url}
                    />
                  </a>
                  <h2 class="line-clamp-2 text-sm font-semibold">
                    {book.title}
                  </h2>
                  <p class="text-sm font-light opacity-60">by {book.author}</p>
                  <span class="absolute z-10 hidden w-64 transform rounded-lg bg-black p-2 text-sm text-white opacity-60 transition-opacity duration-300 ease-in-out group-hover:block group-hover:translate-y-40 group-hover:opacity-100">
                    {book.title}
                  </span>
                </div>
              ))}
            </div>
          </div>
        ))
    }
  </section>
</BaseLayout>
