---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BookCard from "@/components/common/BookCard.astro";
import { getBooksData } from "@/utils/books.js";

const { currentlyReading, booksByYear, sortedYears } = await getBooksData();

const pageTitle = "Bookshelf";
const pageSubtitle = "Books I've read and am currently reading";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <div class="space-y-12">
    {
      currentlyReading.length > 0 && (
        <section>
          <h2 class="mb-6 font-serif text-2xl font-semibold sm:text-3xl">
            Currently Reading
          </h2>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
            {currentlyReading.map((book) => (
              <BookCard book={book} />
            ))}
          </div>
        </section>
      )
    }

    {
      sortedYears.map((year) => (
        <section>
          <h2 class="mb-6 font-serif text-2xl font-semibold sm:text-3xl">
            {year}
          </h2>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
            {booksByYear[year].map((book) => (
              <BookCard book={book} />
            ))}
          </div>
        </section>
      ))
    }
  </div>
</BaseLayout>
