---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BookCard from "@/components/common/BookCard.astro";
import { getBooksData } from "@/utils/books.js";

const { currentlyReading, booksByYear, sortedYears } = await getBooksData();

const pageTitle = "Bookshelf";
const pageSubtitle = "Books I've read and am currently reading";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <section class="content mx-auto mt-4 px-4">
    {
      currentlyReading.length > 0 && (
        <div class="mt-8">
          <h2 class="mb-4 font-serif text-2xl font-semibold sm:text-3xl">
            Currently Reading
          </h2>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
            {currentlyReading.map((book) => (
              <BookCard book={book} />
            ))}
          </div>
        </div>
      )
    }

    {
      sortedYears.map((year) => (
        <div class="mt-8">
          <h2 class="mb-4 font-serif text-2xl font-semibold sm:text-3xl">
            {year}
          </h2>
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
            {booksByYear[year].map((book) => (
              <BookCard book={book} />
            ))}
          </div>
        </div>
      ))
    }
  </section>
</BaseLayout>
