---
import Logo from "@/images/logos/logo-512x512.png";
import { Image } from "astro:assets";

const { title, image } = Astro.props;
---

<header class="mt-6 mb-4">
  <h1
    class="mb-4 font-serif text-4xl font-semibold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
  >
    {title}
  </h1>
  <div class="mt-2 flex items-center gap-2">
    <Image
      alt="Alexandre Mouriec"
      class="u-photo h-8 w-8 rounded-full"
      src={Logo}
    />
    <a class="p-author h-card text-sm" href={Astro.site}>Alexandre Mouriec</a>
  </div>
</header>

{
  image && (
    <Image
      alt={image.alt}
      class="mb-6 rounded-lg object-cover"
      src={image.url}
    />
  )
}
