---
import BackToPrev from "@/components/common/BackToPrev.astro";
import FormattedDate from "@/components/common/FormattedDate.astro";
import { Image } from "astro:assets";
import dayjs from "dayjs";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter, readingTime } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .utc()
  .tz("Europe/Paris")
  .format("MMMM DD YYYY HH:mm:ss");
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-4xl px-4 leading-normal sm:px-6">
    <div>
      <div class="animate">
        <BackToPrev href="/blog"> Back to Blog </BackToPrev>
      </div>
      <section class="mx-auto pt-4">
        <article
          class="h-entry prose mx-auto text-zinc-800 prose-table:table-fixed dark:text-neutral-100">
          <header>
            <div
              class="e-content mx-auto mt-0 flex max-w-5xl flex-col justify-between sm:flex-row sm:items-center">
              <div class="leading-loose">
                <h1
                  class="p-name mb-2 mt-6 font-serif text-4xl font-semibold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                  {frontmatter.title}
                </h1>

                <div
                  class="animate font-regular dt-published prose-sm flex items-center gap-1.5 text-gray-800 dark:text-neutral-300">
                  <span>
                    Published on <FormattedDate date={frontmatter.pubDate} />
                  </span>
                  &bull;

                  <span>
                    Updated on {lastModified.toString().slice(0, 12)}
                  </span>

                  &bull;
                  <span>
                    {readingTime}
                  </span>
                </div>
              </div>
            </div>
          </header>
          {
            frontmatter.image && (
              <div class="aspect-w-3 aspect-h-2 -my-2">
                <Image
                  alt={frontmatter.image.alt}
                  class="h-full w-full rounded-lg object-cover object-center"
                  src={frontmatter.image.url}
                />
              </div>
            )
          }
          <slot class="prose prose-xl" />
          <!-- {
            frontmatter.tags.map((tag) => (
              <span class="mr-2 inline-flex cursor-pointer justify-start rounded-full border border-transparent bg-slate-100 px-2 py-1 text-sm text-slate-700 no-underline transition hover:rotate-2 hover:scale-105 active:scale-95 dark:bg-slate-600 dark:text-slate-300">
                {tag}
              </span>
            ))
          } -->
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
