---
import BackToPrev from "@/components/common/BackToPrev.astro";
import Footnote from "@/components/common/Footnote.astro";
import Logo from "@/images/logos/logo-512x512.png";
import { Image } from "astro:assets";
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
dayjs.extend(timezone);

import BaseLayout from "./BaseLayout.astro";

const { frontmatter, lastModified, readingTime } = Astro.props;

const formattedLastModified = dayjs(lastModified)
  .tz("Europe/Paris")
  .format("MMMM DD, YYYY");
---

<BaseLayout>
  <section class="mx-auto mb-12 sm:px-6">
    <BackToPrev href="/blog">Back to Blog</BackToPrev>
    <section class="mx-auto pt-4">
      <article class="h-entry prose mx-auto prose-table:table-fixed">
        <header class="mb-4 mt-6">
          <h1
            class="my-4 font-serif text-4xl font-semibold tracking-tight dark:text-zinc-100 sm:text-5xl">
            {frontmatter.title}
          </h1>
          <div class="flex items-center justify-start gap-2">
            <Image
              alt="Alexandre Mouriec"
              class="u-photo m-0 mr-1 h-8 w-8 rounded-full"
              height="70"
              loading="eager"
              src={Logo}
              width="70"
            />
            <a
              class="p-author h-card text-sm no-underline dark:text-white"
              href={Astro.site}>Alexandre Mouriec</a
            >
          </div>
        </header>
        {
          frontmatter.image && (
            <Image
              alt={frontmatter.image.alt}
              class="mb-6 rounded-lg object-cover"
              src={frontmatter.image.url}
            />
          )
        }
        <slot />
        <div class="mt-8 flex gap-2">
          {
            frontmatter.tags.map((tag) => (
              <span
                class="p-category inline-flex cursor-pointer items-center justify-center rounded-full border border-transparent bg-slate-100 px-3 py-1 text-xs font-semibold text-slate-700 no-underline transition hover:rotate-2 hover:scale-105 active:scale-95 dark:bg-slate-600 dark:text-slate-300"
                key={tag}>
                {tag}
              </span>
            ))
          }
        </div>
        <hr class="my-6" />
        <Footnote
          lastModified={formattedLastModified}
          publishedDate={frontmatter.pubDate}
          readingTime={readingTime}
        />
      </article>
    </section>
  </section>
</BaseLayout>
