---
import BackToPrev from "@/components/common/BackToPrev.astro";
import FormattedDate from "@/components/common/FormattedDate.astro";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter, lastModified, readingTime } = Astro.props;
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-4xl px-4 leading-normal sm:px-6">
    <div>
      <div class="animate">
        <BackToPrev href="/blog/"> Back to Blog </BackToPrev>
      </div>
      <section class="mx-auto pt-4">
        <article class="text-black-900 prose mx-auto prose-table:table-fixed">
          <header>
            <div
              class="mx-auto mt-0 flex max-w-5xl flex-col justify-between sm:flex-row sm:items-center">
              <div class="leading-loose">
                <h1
                  class="mx-auto w-full max-w-2xl text-left font-serif text-3xl font-bold leading-tight tracking-tighter dark:text-neutral-100 md:mb-4 md:text-4xl md:leading-none lg:text-5xl">
                  {frontmatter.title}
                </h1>

                <div
                  class="animate font-regular prose-sm flex items-center gap-1.5 text-gray-800 dark:text-gray-300">
                  <span>
                    Published on <FormattedDate date={frontmatter.pubDate} />
                  </span>
                  &bull;

                  <span>
                    Updated on {lastModified.toString().slice(0, 12)}
                  </span>

                  &bull;
                  <span>
                    {readingTime}
                  </span>
                </div>
              </div>
            </div>
          </header>
          {
            frontmatter.image && (
              <div class="aspect-w-3 aspect-h-2 -my-2">
                <img
                  class="h-full w-full rounded-lg object-cover object-center"
                  src={frontmatter.image.url}
                  alt={frontmatter.image.alt}
                />
              </div>
            )
          }
          <slot class="prose prose-xl" />
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
